// Defining the font used for everything except headlines
$body-font: 'Courier New', Courier, monospace;

// Defining the font used for headlines only
$header-font: 'Montserrat', Verdana, sans-serif;

$default-font-color: rgb(110, 110, 110);

$alternate-font-color: #cccccc;

$accent-color: #ff4400;

$hr-color: #eeeeee;

$bg-color: #fcfcfc;